<ion-view view-title="{{'Select_chapter' | translate}}">
    <ion-content scroll="false" style="background-color: white;">
        <ion-slide-box class="chapters">
            <ion-slide>
                <a href="#/header/level-list" class="button button-positive">
                    <h1>{{'Chapter_1' | translate}}</h1>
                </a>
            </ion-slide>
            <ion-slide>
                <a class="button button-positive">
                    <h1>{{'Chapter_2' | translate}}</h1>
                </a>
            </ion-slide>
            <ion-slide>
                <a class="button button-positive">
                    <h1>{{'Chapter_3' | translate}}</h1>
                </a>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>