<ion-tabs class="tabs-positive tabs-striped tabs-top">
    <ion-tab title="Play" href="#/game-tabs/play">
        <ion-nav-view class="has-header has-tabs-top" name="play-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Answer" href="#/game-tabs/answer">
        <ion-nav-view class="has-header has-tabs-top" name="answer-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
<ion-header-bar class="bar-positive">
    <button class="button button-clear icon ion-navicon"></button>
    <h1 class="title">Level 1</h1>
</ion-header-bar>