<ion-view view-title="{{'Select_level' | translate}}">
    <ion-content class="padding" scroll = "false" >
    <ion-slide-box class="levelscreen">
        <ion-slide ng-repeat="l in [] | range: levelCount / levelsOnScreen">
        <div class="button-bar" ng-repeat="i in [] | range: levelsOnScreen / levelsInLine">
            <a ng-repeat="t in [] | range: levelsInLine" ng-init="j = l * levelsOnScreen + i * levelsInLine + t"
                      class="button button-positive" href="#/header/play/{{levels[j].level}}">
                {{levels[j].level}}
            </a>
        </div>
        </ion-slide>
    </ion-slide-box>
    </ion-content>
</ion-view>