<ion-view view-title="{{'Main_menu' | translate}}">
    <ion-content class="padding">
        <div style="width: 100%; margin: 0; text-align: center;">
            <img style="width: 50%; margin: 0 auto" src="img/logo.png"> <br/>
            <a href="#/header/level-list" class="button button-positive button-large button-block">
                {{'Play' | translate}}
            </a>
            <a class="button button-positive button-large button-block">
                {{'Settings' | translate}}
            </a>
            <a onclick="ionic.Platform.exitApp();" class="button button-positive button-large button-block">
                {{'Quit' | translate}}
            </a>
        </div>
</ion-content>
</ion-view>