<ion-view>
    <ion-nav-title>
        {{'Level' | translate}} {{level}}
    </ion-nav-title>
    <ion-nav-buttons>
        <button class="button button-positive help-button" ng-click="showHelp('');">
                        <i class="icon ion-help-circled"></i>
        </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
        <h1 class="text-center phrase">{{phrases[numPhrase]}}</h1>
    </div>
    <ion-content class="padding game has-subheader">
        <ion-list>
            <ion-item>
                <div class="button-bar">
                    <input style="width: 90%; font-size: 1rem" type="number"
                           placeholder="{{'Your_number' | translate}}"
                           id="play-input"
                           ng-model="model.input">
                    <button class="button button-positive button-outline" ng-click="showCalc('');">
                        <i class="icon ion-calculator"></i>
                    </button>
                </div><br>
                <div class="button-bar">
                    <button id="button_ask" class="button button-positive button-outline" ng-click="add();">{{'Ask' | translate}}
                    </button>
                    <button class="button button-positive button-outline" ng-click="answer(0, '', '')">
                        {{'Answer' | translate}}
                    </button>
                </div>
                <br>
                <h4 style="font-size: 1rem" class="text-center">{{'Attempts_done' | translate}}: {{stats.moves}}</h4>
            </ion-item>
            <ion-item class="attempt"  ng-repeat="attempt in attempts" >
                <table style="width: 100%;">
                    <tbody>
                    <tr>
                        <td class="text-center" style="width: 50%;">{{attempt.question}}</td>
                        <td class="text-center" style="width: 50%;">{{attempt.answer}}</td>
                    </tr>
                    </tbody>
                </table>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>