.chapters {
    margin-top: 20vh;
    height: 50%;
}

.chapters a {
    position: absolute;
    right: 20%;
    height: 80%;
    width: 60%;
}

.chapters h1 {
    position: absolute;
    top: 5vh;
    margin-left: -4%;
    width: 100%;
    color: #fff;
    font-size: 60px;
    text-align: center;
}

.chapters.chapters-green a {
    background-color: green;
}

.chapters.chapters-blue a {
    background-color: blue;
}

.chapters.chapters-red a {
    background-color: red;
}

.levelscreen {
    height: 100%;
}
.levelscreen .button{
    line-height: 16vh;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
}
